---
import { type ProjectFrontmatter } from '../../interfaces/ProjectFrontmatter';
export type { ProjectFrontmatter as Props };

const { title, description, startDate, endDate, url, repositoryUrl } = Astro.props;
---

<div class="mb-4 ">
    <h2 class="text-2xl font-semibold">{title}</h2>
    <span>{startDate} - {endDate}</span>
</div>
<p>{description}</p>
{
    repositoryUrl
    ? <a href={repositoryUrl} class="inline-block rounded bg-slate-100 dark:bg-slate-900 mt-4 px-5 py-4 shadow-md">View Code</a>
    : null
}
{
    url
        ? <a href={url} class="inline-block rounded bg-slate-100 dark:bg-slate-900 mt-4 px-5 py-4 shadow-md">Visit &rightarrow;</a>
        : null
}