---
export interface Props {
    title: string
}

const { title } = Astro.props;
---

<section class="pt-16 mx-8">
    <div class="grid grid-cols-1 lg:grid-cols-6">
        <h2 class="col-span-1 md:col-span-2 lg:col-span-4 lg:col-start-2 text-3xl font-semibold">{title}</h2>
    </div>
    <slot />
</section>