---
import AnimatedStop from "./AnimatedStop.astro";
import Stacked from "../utils/Stacked.astro";
---

<div class="blue-grid-component w-full h-full">
    <Stacked>
        <div slot="background">
            <svg width="100%" height="100vh" xmlns="http://www.w3.org/2000/svg" class="blue-grid bg-gradient-to-bl from-[#121FCF] to-[#009FCF] text-slate-50 dark:text-slate-950">
                <defs>
                    <pattern id="grid" x="0" y="0" width="50" height="50" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" class="w-12 h-12 fill-slate-50 dark:fill-slate-950" />
                    </pattern>
                    <radialGradient id="wave" r="125%" cx="0%" cy="0%">
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="1"
                            offset={-0.35}
                            from={-1}
                            to={1}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.80"
                            offset={-0.21}
                            from={-0.86}
                            to={1.14}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.90"
                            offset={-0.17}
                            from={-0.82}
                            to={1.18}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.95"
                            offset={-0.15}
                            from={-0.8}
                            to={1.2}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.98"
                            offset={-0.09}
                            from={-0.74}
                            to={1.26}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.75"
                            offset={0.11}
                            from={-0.54}
                            to={1.46}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.98"
                            offset={0.29}
                            from={-0.36}
                            to={1.64}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.44"
                            offset={0.41}
                            from={-0.24}
                            to={1.76}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="0.33"
                            offset={0.53}
                            from={-0.12}
                            to={1.88}
                        />
                        <AnimatedStop
                            stop-color="currentColor"
                            stop-opacity="1"
                            offset={0.65}
                            from={0}
                            to={2}
                        />
                    </radialGradient>
                </defs>
                
                <rect fill="url(#grid)" width="100%" height="100%" />
                <rect id="wave-container" fill="url(#wave)" width="100vw" height="100vw" />
            </svg>
        </div>
        <slot />
    </Stacked>
</div>

<script>
    // Reduced motion listener to use a static gradient
    (function(window, document) {
        const isReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;
    
        if (isReduced) {
            const elements = Array.from(document.querySelectorAll('.blue-grid stop animate'));
            
            elements.forEach((el) => {
                el.remove();
            });
        }
    })(window, document);

    // Resize listener to update the wave container dimensions
    (function(window, document) {
        window.addEventListener('resize', handleResize);

        function handleResize() {
            const body = document.querySelector('body');
            const { width, height } = body!.getBoundingClientRect();
            const container = document.getElementById('wave-container');

            const unit = width > height ? width : height;

            container?.setAttribute('width', String(unit));
            container?.setAttribute('height', String(unit));
        }

        handleResize();
    })(window, document);
</script>