---
import Logo from '../utils/Logo.astro';

const organizations = await Astro.glob('/src/content/organizations/*.md');
const logos = new Array(62).fill(null).map((_, index) => {
	return organizations[index % organizations.length].frontmatter.logo;
});
---

<div class="logos grid grid-cols-4 sm:grid-cols-4 md:grid-cols-9 xl:grid-cols-11 2xl:grid-cols-12 gap-0">
    {logos.map(async (logo) => {
        return (
            <div class="logo-container p-5 flex w-full bg-slate-50 dark:bg-slate-950">
                <Logo
                    src={logo}
                    alt="logo"
                    classList="logo object-contain align-middle w-full h-min-full"
                />
            </div>
        );
    })}
</div>

<style scoped>
    .logos {
		transform-origin: top left;
    	transform: rotate(-23deg) translateX(-20rem);
		width: 200vw;
		animation: logo-animation 20s ease 0s forwards alternate infinite;
	}

    @media (prefers-reduced-motion: reduce) {
        .logos {
            animation-name: none;
        }
    }

	@keyframes logo-animation {
		0% {
			transform: rotate(-23deg) translateX(-20rem);
		}
		100% {
			transform: rotate(-23deg) translateX(-25rem);
		}
	}
</style>

