---
const organizations = await Astro.glob('../content/organizations/*.md');
const length = organizations.length;
---

<ul class="slider overflow-hidden">
    {organizations.map((organization, index) => {

        return (
            <li class="logo absolute right-0 w-48 h-48 bg-slate-50">
                <Image
                    src={import(organization.frontmatter.logo)}
                    alt={organization.frontmatter.name}
                    class="min-w-full object-contain"
                />
            </li>
        );
    })}
</ul>

<style define:vars={{ length }} lang="scss"> 
	.slider .logo {
		// opacity: 0%;
		animation: toleft 20s linear infinite;

		@for $i from 1 through 5 {
		  &:nth-child(#{$i}) {
			animation-delay: 2s * $i;
		  }
		}
	}

	@keyframes toleft {
		0% {
			transform: scale(50%);
			z-index: 0;
			right: calc(0% + 12rem);
			// opacity: 0%;
		}
		10% {
			// opacity: 100%;
		}
		50% {
			transform: scale(100%);
			z-index: 1;
		}
		90% {
			// opacity: 100%;
		}	
		100% {
			transform: scale(50%);
			z-index: 0;
			right: 100%;
			// opacity: 0%;
		}
	}
</style>