---
import Layout from '../layouts/Layout.astro';
import Jumbotron from '../components/utils/Jumbotron.astro';
import BlueGrid from '../components/homepage/BlueGrid.astro';
---

<Layout
	title="Matt's Modules"
	description="Hi, I'm Matt. I'm a software engineer with a background in web development. I have experience working with various frontend and backend frameworks including Vue and Laravel."
>
	<section class="overflow-x-clip">
		<BlueGrid>
			<Jumbotron>
				<div class="ml-10">
					<h1 class="text-7xl font-semibold drop-shadow-lg">Hi, I&rsquo;m <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#121FCF] to-[#009FCF]">Matt</span></h1>
					<div class="mt-4"></div>
					<a href="/journey" class="inline-block rounded-l-lg bg-slate-100 dark:bg-slate-900 px-5 py-4 shadow-md">Journey&nbsp;💼</a><a href="/projects" class="inline-block rounded-r-lg bg-slate-100 dark:bg-slate-900 px-5 py-4 shadow-md">Projects&nbsp;🚀</a>
				</div>
			</Jumbotron>
		</BlueGrid>
	</section>
</Layout>
