---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/homepage/Heading.astro';
import ColorSchemeToggle from '../components/utils/ColorSchemeToggle.vue';
import LogoWall from '../components/homepage/LogoWall.astro';
import Stacked from '../components/utils/Stacked.astro';
import Logo from '../components/utils/Logo.astro';

const organizations = await Astro.glob('/src/content/organizations/*.md');
---

<Layout
	title="Matt's Modules - Journey"
	description="These are the companies or institutions that I've worked with or learned from!"
>
	<section class="w-screen h-screen">
		<Stacked>
			<div class="ml-10 h-full flex flex-col justify-center">
				<Heading>Journey</Heading>
				<p class="my-6 mr-6">Companies or institutions that I've worked with or learned from!</p>
			</div>
			<div slot="background" class="w-screen h-96">
				<Stacked>
					<div slot="overlay" class="gradient w-screen h-screen bg-[#f9fafbbf] dark:bg-[#020617bf] md:bg-transparent md:bg-gradient-to-r md:dark:from-slate-950 md:from-slate-50 md:via-[#f8fafc8c] md:dark:via-[#0206178c] md:to-transparent"></div>
					<LogoWall />
				</Stacked>
			</div>
		</Stacked>
	</section>
	<section>
		<ul class="pt-16">
			{organizations.sort((a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf())
				.map((organization) => {
					const { frontmatter: { name, logo, tagline, role, startDate, endDate } } = organization;

					return (
						<li class="py-16 px-6 lg:px-0 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6">
							<div class="w-full h-full max-w-64 max-h-64 col-span-1 flex justify-self-center lg:justify-self-end lg:col-start-2">
								<Logo
									src={logo}
									alt={name}
									classList="logo object-contain align-middle w-full h-min-full"
								/>
							</div>
							<div class="mt-8 md:mt-0 ml-8 h-full col-span-1 md:col-span-2 lg:col-span-3 align-middle">
								<div class="mb-4">
									<h2 class="text-2xl font-semibold">{name}</h2>
									<h3 class="font-semibold">{role}</h3>
									<span>{startDate} - {endDate}</span>
								</div>
								<p>{tagline}</p>
							</div>
						</li>
					);
				})
			}
		</ul>
	</section>
</Layout>
