---
import Stacked from "../components/utils/Stacked.astro";
import Jumbotron from "../components/utils/Jumbotron.astro";
import Heading from "../components/homepage/Heading.astro";
import Layout from "../layouts/Layout.astro";
import ProjectItem from "../components/projects/ProjectItem.astro";
import ProjectSection from "../components/projects/ProjectSection.astro";
import { type ProjectFrontmatter } from "../interfaces/ProjectFrontmatter";

const projects = await Astro.glob('/src/content/projects/*.md');
---

<Layout
    title="Matt's Modules - Projects"
    description="I've used personal projects to experiment and learn new things throughout my journey. They started out as simple scripts and have gradually gotten larger over the years as I've become more confident in my abilities."
>
    <section class="overflow-x-clip">
        <Stacked>
            <Jumbotron>
                <div class="ml-10">
                    <Heading>Projects</Heading>
                    <p class="my-6 mr-6">I've used personal projects to experiment and learn new things throughout my journey.</p>
                </div>
            </Jumbotron>
            <canvas slot="background" id="canvas" class="w-screen h-screen bg-slate-50 dark:bg-slate-950"></canvas>
        </Stacked>
    </section>
    <ProjectSection title="Featured">
        <ul>
            {projects.filter((project) => project.frontmatter.featured)
                .sort((a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf())
                .map((project) => (
                    <li class="py-8 grid grid-cols-1 lg:grid-cols-6">
                        <div class="md:mt-0 h-full col-span-1 md:col-span-2 lg:col-span-4 align-middle lg:col-start-2">
                            <ProjectItem {...project.frontmatter as ProjectFrontmatter} />
                        </div>
                    </li>
                ))
            }
        </ul>
    </ProjectSection>
    <ProjectSection title="Other Projects">
        <ul>
            {projects.filter((project) => !project.frontmatter.featured)
                .sort((a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf())
                .map((project) => (
                    <li class="py-8 grid grid-cols-1 lg:grid-cols-6">
                        <div class="md:mt-0 h-full col-span-1 md:col-span-2 lg:col-span-4 align-middle lg:col-start-2">
                            <ProjectItem {...project.frontmatter as ProjectFrontmatter} />
                        </div>
                    </li>
                ))
            }
        </ul>
    </ProjectSection>
</Layout>

<script>
    class Vector2D {
        x: number;
        y: number;

        constructor(x: number, y: number) {
            this.x = x;
            this.y = y;
        }
    }

    class Dot {
        canvas: HTMLCanvasElement;
        radius: number;
        position: Vector2D;
        velocity: Vector2D;

        constructor(canvas: HTMLCanvasElement, radius: number, position?: Vector2D, velocity?: Vector2D) {
            const angle = Math.floor(Math.random() * 360);
            
            const { width, height } = canvas.getBoundingClientRect();

            this.position = position || new Vector2D(Math.random() * width, Math.random() * height);
            this.velocity = velocity || new Vector2D(Math.cos(angle) * 0.1, Math.sin(angle) * 0.1);

            this.canvas = canvas;
            this.radius = radius;
        }

        update() {
            this.bounce();
            this.position.x += this.velocity.x;
            this.position.y += this.velocity.y;
        }

        draw() {
            const ctx = document.getElementById('canvas')!.getContext('2d') as CanvasRenderingContext2D;
            const color = window.getComputedStyle(this.canvas).getPropertyValue('color');

            ctx.beginPath();
            ctx.arc(this.position.x, this.position.y, this.radius, 0, Math.PI * 2);
            ctx.closePath();
            ctx.fillStyle = color;
            ctx.fill();
        }

        bounce() {
            const { width, height } = this.canvas.getBoundingClientRect();
            if (this.position.x < 0 || this.position.x > width) this.velocity.x *= -1;
            if (this.position.y < 0 || this.position.y > height) this.velocity.y *= -1;
        }
    }

    class SpatialHashGrid {
        width: number;
        height: number;
        cellSize: number;
        cells: Array<any>;

        constructor(width: number, height: number, cellSize: number) {
            this.width = width;
            this.height = height;
            this.cellSize = cellSize;
            this.cells = new Array();
        }

        insert(object: any, x: number, y: number) {
            this.getCell(x, y).push(object);
        }

        update(object: object, x: number, y: number) {
            this.delete(object, x, y);
            this.insert(object, x, y);
        }

        delete(object: object, x: number, y: number) {
            const cell = this.getCell(x,y);

            for (let i = 0; i < cell.length; i++) {
                const obj = cell[i];

                if (obj === object) {
                    cell[i] = null;
                }
            }
        }

        query(x: number, y: number, radius: number) {
            const startX = Math.floor((x - radius) / this.cellSize);
            const startY = Math.floor((y - radius) / this.cellSize);
            const endX = Math.floor((x + radius) / this.cellSize);
            const endY = Math.floor((y + radius) / this.cellSize);

            const result = [];

            for (let i = startX; i < endX; i++) {
                if (!this.cells[i]) continue;
                for (let j = startY; j <= endY ; j++) {
                    if (!this.cells[i][j]) continue;
                    result.push(...this.cells[i][j]);
                }
            }

            return result;
        }

        getCell(x: number, y: number) {
            const cellX = Math.floor(x / this.cellSize);
            const cellY = Math.floor(y / this.cellSize);
            
            if(!Array.isArray(this.cells[cellX])) {
                this.cells[cellX] = new Array();
            }

            if(!Array.isArray(this.cells[cellX][cellY])) {
                this.cells[cellX][cellY] = new Array();
            }

            return this.cells[cellX][cellY];
        }
    }

    class Painter {
        canvas: HTMLCanvasElement;
        context: CanvasRenderingContext2D;
        dots: Array<Dot>;

        constructor(canvas: HTMLCanvasElement, numDots: number) {
            this.canvas = canvas;

            if (!canvas) throw new Error();

            const context = canvas.getContext('2d');

            if (!context) throw new Error();

            this.context = context;

            this.dots = new Array<Dot>(numDots)
                .fill()
                .map(() => new Dot(canvas, 4));
        }

        connect(hashGrid: SpatialHashGrid) {
            const { width, height } = this.canvas.getBoundingClientRect();
            const nearby = (width + height) * 0.075;

            this.dots.forEach((a: Dot) => {
                hashGrid.query(a.position.x, a.position.y, 150)
                    .forEach((b: Dot) => {
                        const distance = this.distance(a, b);
                
                        if (distance > nearby) return;
                
                        const opacity = 1 - distance / nearby - 0.25;

                        const color = window.getComputedStyle(this.canvas)
                            .getPropertyValue('color')
                            .replace(')', `, ${opacity})`);
                
                        this.context.beginPath();
                        this.context.lineWidth = 1;
                        this.context.strokeStyle = color;
                        this.context.moveTo(a.position.x, a.position.y);
                        this.context.lineTo(b.position.x, b.position.y);
                        this.context.stroke();
                    });
            });
        }

        distance(a: Dot, b: Dot) {
            const distX = a.position.x - b.position.x;
            const distY = a.position.y - b.position.y;

            return Math.hypot(distX, distY);
        }

        tick(update: boolean = true) {
            const { width, height } = this.canvas.getBoundingClientRect();
            const hashGrid = new SpatialHashGrid(width, height, 50);
            this.context.clearRect(0, 0, width, height);

            this.dots.forEach((dot) => {
                if (update) {
                    dot.update();
                }

                dot.draw();

                hashGrid.insert(dot, dot.position.x, dot.position.y);
            });

            this.connect(hashGrid);
        }
    }

    const canvas = document.getElementById('canvas') as HTMLCanvasElement;
    
    if (!canvas) throw new Error();

    function handleResize() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    }

    const isReducedMotion = window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;
    const painter = new Painter(canvas, window.innerWidth < 1024 ? 60 : 120);

    // Resize canvas
    window.addEventListener("resize", handleResize);

    handleResize();

    (function animation() {
        painter.tick(!isReducedMotion);
        requestAnimationFrame(animation);
    })();
</script>