---
export interface Props {
	id: string;
}

const { id } = Astro.props;
---
<script is:inline async src=`https://www.googletagmanager.com/gtag/js?id=${id}`></script>
<script is:inline define:vars={{ id }}>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', id);
</script>