---
export interface Props {
	id?: string;
	class?: string;
	width: string;
	height: string;
}

const { id, 'class': classList, width, height } = Astro.props;
---

<section class="carousel" id={id}, class={classList}>
    <ol class="viewport">
        <slot />
    </ol>
</section>

<style define:vars={{ width, height }}>


	* {
		box-sizing: border-box;
		scrollbar-color: transparent transparent; /* thumb and track color */
		scrollbar-width: 0px;
	}

	*::-webkit-scrollbar {
		width: 0;
	}

	*::-webkit-scrollbar-track {
		background: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}

	* {
		-ms-overflow-style: none;
	}

	ol, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.carousel {
		display: inline-block;
		position: relative;
		height: var(--height);
	}

	.viewport {
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		counter-reset: item;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		height: var(--height); 
	}

</style>