---
---

<li class="carousel-item">
    <div class="carousel-snapper"></div>
    <div class="carousel-body">
        <slot />
    </div>
</li>
<style>
	@keyframes tonext {
		75% {
			top: 0;
		}
		95% {
			top: 100%;
		}
		98% {
			top: 100%;
		}
		99% {
			top: 0;
		}
	}

	@keyframes tostart {
		75% {
			top: 0;
		}
		95% {
			top: -300%;
		}
		98% {
			top: -300%;
		}
		99% {
			top: 0;
		}
	}

	@keyframes snap {
		96% {
			scroll-snap-align: center;
		}
		97% {
			scroll-snap-align: none;
		}
		99% {
			scroll-snap-align: none;
		}
		100% {
			scroll-snap-align: center;
		}
	}

    .carousel-snapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		scroll-snap-align: center;
	}
	.carousel-item {
        display: flex;
		align-items: center;
		position: relative;
		flex: 0 0 100%;
		width: 100%;
		counter-increment: item;
	}

    .carousel-snapper {
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
    }

    @media (hover: hover) {
		.carousel-snapper {
			animation-name: tonext, snap;
			animation-timing-function: ease-in;
			animation-duration: 1s;
			animation-iteration-count: 4;
		}

		.carousel-item:last-child .carousel-snapper {
			animation-name: tostart, snap;
		}
	}
	
    @media (prefers-reduced-motion: reduce) {
		.carousel__snapper {
			animation-name: none;
		}
	}

    
</style>
