---
import GoogleTagManager from '../components/analytics/GoogleTagManager.astro';
import PostHogAnalytics from '../components/analytics/PostHogAnalytics.astro';
import ColorSchemeToggle from '../components/utils/ColorSchemeToggle.vue';
import IfEnvironment from '../components/utils/IfEnvironment.astro';
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index,follow">
		<meta name="darkreader-lock" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
		<IfEnvironment value="production">
			<PostHogAnalytics key="phc_8LqUbBykYEgIpUI3AZfLNH2s6bmDCIy4fYS8IVAselk" />
		</IfEnvironment>
		<title>{title}</title>
	</head>
	<body>
		<div class="text-slate-950 dark:text-slate-50 bg-slate-50 dark:bg-slate-950">
			<header>
				<nav class="fixed w-full top-0 left-0 bg-slate-50 dark:bg-slate-950 opacity-80 z-50">
					<div class="px-8 py-4 flex justify-between">
						<a href="/" class="font-semibold">Matt's Modules</a>
						<ColorSchemeToggle client:load />
					</div>
				</nav>
			</header>
			<main class="text-slate-950 dark:text-slate-50 bg-slate-50 dark:bg-slate-950 overflow-x-clip">
				<slot />
			</main>
			<footer class="pt-12 pb-12 text-gray-500 bg-slate-50 dark:text-gray-400 dark:bg-slate-950">
				<section class="ml-auto mr-auto text-center">
					<span>&copy; {new Date().getFullYear()} Matt's Modules</span>
				</section>
			</footer>
		</div>
		<IfEnvironment value="production">
			<GoogleTagManager id="G-P9LQBT8SSV" />
		</IfEnvironment>
	</body>
</html>
