<template>
  <div class="theme-toggle absolute right-0 top-0 w-12 h-12 z-50">
    <button class="px-3 py-3 w-12 h-12 absolute left-0 top-0 z-10" @click="toggle()" aria-label="Change Theme"></button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 96 960 960"
      width="48"
      class="absolute left-0 top-0 fill-slate-900 dark:fill-slate-50"
    >
      <path d="M481 1027 346 896H160V710L26 576l134-134V256h186l135-134 133 134h186v186l134 134-134 134v186H614l-133 131Zm0-191q107.917 0 183.458-76.125Q740 683.75 740 575q0-107.917-75.542-183.458Q588.917 316 481 316q-108.75 0-184.875 75.542Q220 467.083 220 575q0 108.75 76.125 184.875T481 836Z" />
      <circle cx="480" cy="575" r="200" />
    </svg>
  </div>
</template>

<script setup>
import { toValue, useDark, usePreferredReducedMotion, useToggle } from '@vueuse/core';
import anime from "animejs"
import { onMounted } from "vue";

const isDark = useDark({
  selector: 'body',
  valueDark: 'dark',
  valueLight: 'light',
});

const toggleDark = useToggle(isDark);

let animation = null;

const toggle = () => {
  toggleDark();

  if (toValue(usePreferredReducedMotion()) === 'reduce') {
    const time = toValue(isDark) ? 0 : animation.duration;
    animation.seek(time);
  } else {
    animation?.reverse();
    animation?.play();
  }

  if (posthog) {
    posthog.capture('color scheme toggled', { dark: toValue(isDark) });
  }
};

onMounted(function () {
    const pathBox = document.querySelector('path').getBBox();

    animation = anime.timeline({
        easing: 'easeInOutCubic',
        duration: 500,
        autoplay: false,
    })
    .add({
        targets: '.theme-toggle svg path',
        rotate: 180,
    }, 0)
    .add({
        targets: '.theme-toggle svg circle',
        cx: 360,
        r: 240,
    }, 0);

    if (toValue(isDark)) {
      animation.reverse();
    } else {
      animation.seek(animation.duration);
    }

});
</script>

<style scoped>
path {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}
</style>