<template>
    <div class="flip-card w-12 h-12">
        <div class="flip-card-inner relative text-center">
            <div class="flip-card-front absolute w-12 h-12 bg-transparent text-center flex justify-center items-center">
                <slot name="front" />
            </div>
            <div class="flip-card-back absolute w-12 h-12 bg-transparent text-center flex justify-center items-center">
                <slot name="back" />
            </div>
        </div>
    </div>
</template>

<style scoped>
.flip-card {
  perspective: 100px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
</style>