<div class="stack w-full h-full grid">
    {Astro.slots.has('overlay') && (
        <div class="z-20 col-start-1 row-start-1 pointer-events-none">
            <slot name="overlay"/>
        </div>
    )}
    <div class="z-10 col-start-1 row-start-1">
        <slot />
    </div>
    {Astro.slots.has('background') && (
        <div class="z-0 col-start-1 row-start-1 pointer-events-none overflow-clip">
            <slot name="background"/>
        </div>
    )}
</div>